body {
  overflow: hidden;
}

 * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  /*border: 2px dashed red;*/
  width: inherit;
  text-align: center;
}

li:first-child {
  margin-left: 0px !important;
}

li:nth-child(8) {
  margin-right: 0px !important;
}

li {
  display: inline-block;
  font-size: 160%;
  margin-left: 10px;
  margin-right: 10px;
  /*border: 2px solid blue;*/
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-ul {
  width: inherit;
  /*border: 2px solid purple;*/
  vertical-align: middle;
  position: absolute;
  top: 25%;
  /*left: 50%;*/
  /*margin-left: -20vw;*/
}

.navbar {
  position: relative;
  width: 100vw;
  height: 8vh;
  background-color: #e8e8e8;
  border-bottom: 1px solid #828282;
  /*border: 2px dashed blue;*/
}

.navbar-text {
  top: 50%;
  left: 50%;
}

.main-page {
  display: flex;
  height: 92vh;
  flex-direction: row-reverse;
  /*border: 2px solid purple;*/
}

.article {
  flex-grow: 1;
  flex-basis: 0;
}

.article:first-child {
  background-color: #330000;
  border-left: 1px solid #828282;
}

.article:nth-child(2) {
  background-color: #333333;
  border-left: 1px solid #828282;
}

.article:nth-child(3) {
  background-color: blue;
  border-left: 1px solid #828282;
}

.article:nth-child(4) {
  background-color: purple;
  border-left: 1px solid #828282;
}

.article:nth-child(5) {
  background-color: #A52A2A;
  border-left: 1px solid #828282;
}

.article:nth-child(6) {
  background-color: #cc0000;
}

#article-contact {
  /*text-align: center;*/
  /*overflow-x: hidden;*/
  /*padding: 20px;*/
  /*max-width: 16.666666666vw;*/
}

.main {
  /*border: 3px solid #eaeaea;*/
  /*margin-top: 35vh;*/
  /*align-items: center;*/
  /*padding: 10px;*/
  position: relative;
}

.thumbnail-header {
  color: #d2d2d2;
  font-family: sans-serif;
  font-size: 300%;
  text-align: center;
}

.thumbnail-text {
  margin-top: 50%;
  margin-right: 3%;
  margin-left: 3%;
  color: #eaeaea;
  font-size: 250%;
  text-align: center;
  font-family: cursive;
}

.text {
  margin-top: -50%;
  margin-right: 3%;
  margin-left: 3%;
  color: #eaeaea;
  font-size: 250%;
  text-align: center;
  font-family: cursive;
  visibility: hidden;
}
