body {
  overflow: hidden;
}

 * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  width: 100vw;
  /*border: 1px solid red;*/
  height: 7vh;
}

li:first-child {
  margin-left: 0px !important;
}

li:nth-child(8) {
  margin-right: 0px !important;
}

li {
  /*margin-top: 1.6vh;*/
  width: 110px;
  color: #111111;
  /*height: 5.1vh;*/
  font-size: 165%;
  margin-left: 10px;
  margin-right: 10px;
  /*border: 1px dotted blue;*/
  display: inline-block;
  margin-top: 1vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline {
  display: none;
  background-color: #6f6f6f;
  width: 110px;
  height: 0.7vh;
  margin-top: 1vh;
  border-radius: 5px;
}

.navbar-ul {
  width: 100vw;
  line-height: 3.5vh;
  /*border: 1px dashed blue;*/
}

.navbar {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 7vh;
  background-color: #e8e8e8;
  border-bottom: 1px solid #828282;
  overflow-y: hidden;
  /*border: 1px solid purple;*/
}

.navbar-text {
  top: 50%;
  left: 50%;
}

.main-page {
  display: flex;
  height: 93vh;
  flex-direction: row;
  /*border: 2px solid purple;*/
  /*visibility: hidden;*/
}

.article {
  flex-grow: 1;
  flex-basis: 0;
}

.article:first-child {
  background-color: #330000;
  border-right: 1px solid #828282;
}

.article:nth-child(2) {
  background-color: #333333;
  border-right: 1px solid #828282;
}

.article:nth-child(3) {
  background-color: blue;
  border-right: 1px solid #828282;
}

.article:nth-child(4) {
  background-color: purple;
  border-right: 1px solid #828282;
}

.article:nth-child(5) {
  background-color: #A52A2A;
  border-right: 1px solid #828282;
}

.article:nth-child(6) {
  background-color: #cc0000;
}

#article-contact {
  /*text-align: center;*/
  /*overflow-x: hidden;*/
  /*padding: 20px;*/
  /*max-width: 16.666666666vw;*/
}

.main {
  /*border: 3px solid #eaeaea;*/
  /*margin-top: 35vh;*/
  /*align-items: center;*/
  /*padding: 10px;*/
  position: relative;
}

.thumbnail-header {
  color: #d2d2d2;
  font-family: sans-serif;
  font-size: 300%;
  text-align: center;
}

.thumbnail-text {
  margin-top: 50%;
  margin-right: 3%;
  margin-left: 3%;
  color: #eaeaea;
  font-size: 250%;
  text-align: center;
  font-family: cursive;
}

.text {
  margin-top: -50%;
  margin-right: 3%;
  margin-left: 3%;
  color: #eaeaea;
  font-size: 250%;
  text-align: center;
  font-family: cursive;
  visibility: hidden;
}
